.header{
	align-items: flex-end;	
}
.logo a{
	display: flex;
	align-items: center;
	font-family: 'Jokerman Regular';
	font-size: 60px;
	text-decoration: none;
	color: #5094f2;
}
.logo a img{
	margin-right: 10px;
}
.logo a:hover{	
	text-decoration: underline;
}
#check{
	display: none;
}
.nav_lines{
	display: flex;		
	display: none;
}
.button_off{
	width: 85px;
	height: 53px;
	background-color: #5094f2;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.button_on{
	font-family: 'Jokerman Regular';
	font-size: 30px;
	position: absolute;
	top: 0;
	right: 100px;
	z-index: 3;
	width: 200px;
	background-color: white;
	border-radius: 7px;
}
.button_on li{
	text-align: center;
	border: 2px solid #5094f2;	
}
.button_on li:first-child{
	border-top-left-radius: 7px;
}
.button_on li:nth-child(4){
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.button_on li:nth-child(2), .button_on li:nth-child(3), 
.button_on li:nth-child(4){
	border-top: none;
}
.button_on a{
	color: #6c6c6c;
}
.button_on a:hover{	
	text-decoration: underline;
}
input + label > .button_on{
		display: none;
}
input:checked + label > .button_on{
		display: block;
}
.menu_line{
	height: 7px;
	width: 52px;
	background-color: white;
	border-radius: 3px;
	margin: 3px;
}
.nav{
	font-family: 'Jokerman Regular';
	font-size: 25px;
	justify-content: flex-end;
	align-items: flex-end;
	padding-bottom: 12px;
}
.nav-item a{
	color: #6c6c6c;	
}
.nav-item a:hover{
	border-bottom: 3px solid #5094f2;	
}
.for_gears{
	padding: 0;
	margin-left: -5px;
}
.phone{	
	background: white url('../img/bg_header.png') no-repeat center center fixed;
	background-size: cover;
	padding: 35px 0 0 20px;
	height: 480px;
}
.carousel{
	z-index: 1;
}
.carousel-control-prev-icon{
    background-image: url(../img/_.png);
    margin-top: -30px;
    width: 30px;
    height: 60px;    
}
.carousel-control-next-icon{
    background-image: url(../img/_2.png);
    width: 30px;
    height: 60px;
    margin-top: -30px;
}
.carousel-control-prev{
	margin-left: -15%;
	background-color: rgba(255, 255, 255, 0); 
	border-width: 0;
}
.carousel-control-next{
	margin-right: -13%;
	background-color: rgba(255, 255, 255, 0); 
	border-width: 0;
}
.carousel-caption{
	top: 0;
	left: 40%;
	right: 0;
	font-family: 'Stylus BT';
	font-size: 28px;
	text-align: left;
	margin-left: 15%;
	padding-top: 7%;	
}
.carousel_slide{
	display: flex;	
	align-items: center;
}
.carousel_text p{
	margin-bottom: 36px;
}
.carousel_text a{
	font-size: 22.35px;
	color: white;
	background-color: #5094f2;
	padding: 8px 30px 10px 30px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;	
}
.carousel_text a img{
	margin-right: 10px;
}
.carousel-caption h5{
	font-family: 'Stylus BT';
	font-size: 44px;	
}
.gears{
	background-image: url(../img/gears.png);
	height: 16px;
}
.color_circles{
	padding-top: 64px;
	justify-content: center;
}
.blue_circle, .red_circle, .orange_circle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.blue_circle div:first-child,
.red_circle div:first-child,
.orange_circle div:first-child{
	display: flex;
	width: 186px;
	height: 186px;
	border-radius: 50%;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
	flex: 0 0 190px;
}
.blue_circle div:last-child,
.red_circle div:last-child,
.orange_circle div:last-child{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.blue_circle div:first-child{
	background-color: #5094f2;	
}
.red_circle div:first-child{
	background-color: #d94748;	
}
.orange_circle div:first-child{
	background-color: #ebbb11;	
}
.color_circles a{
	font-family: 'Stylus BT';
	font-size: 28px;
	color: #5094f2;	
}
.color_circles p{
	color: #909090;
	font-family: 'Segoe Rpint';
	font-size: 18px;
	text-align: center;
	line-height: 1.2;
}
.blue_circle p, .red_circle p, .orange_circle p{
	margin: 0 45px 0 45px;
}
.cart a{
	font-family: 'Jokerman Regular';
	font-size: 50px;
	margin-left: 50px;
	margin-top: 30px;
	color: #4d8ed7;
	text-shadow: 0px 9px 0px rgba(122, 130, 161, 0.37);
}
.cart_img{
	margin-left: 30px;
}
.cart_img, .cart_text{
	padding-top: 22px;
}
.cart_text h4{
	font-family: 'Stylus BT';
	font-size: 30px;
	color: #6f7173;
	margin-left: 81px;
	line-height: 1;
}
.cart_text p{
	font-family: 'Stylus BT';
	font-size: 16px;
	color: #909090;
	text-align: left;
	line-height: 2.25;
}
.line{
	padding: 0;
}
.grey_line{
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	margin: 15px 0 35px 0;
}
.footer{
	text-transform: uppercase;
	font-family: 'Algerian';
	font-size: 25px;
	color: #909090;
	text-align: center;
	margin-bottom: 30px;
}

